.header{
    display: flex;
}

.navLink{
    flex: 1;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    color:white;
    background-color: $portal-blue;
}

.navLinkActive{
    background-color: $portal-orange;
}