.paginationNav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top:90vh
}

.paginationNavLeft,.paginationNavRight{
    border: none;
    background-color: $portal-orange;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    font-size: 1.25rem;
}

.paginationNavLeft:hover,.paginationNavRight:hover{
    opacity: 0.7;
    cursor: pointer;
}

.paginationNavLeft:disabled,.paginationNavRight:disabled{
    background-color: grey;
    cursor: not-allowed;
}